<%= form_with(model: tournament, local: true) do |form| %>
  <% if tournament.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tournament.errors.count, "error") %> prohibited this tournament from being saved:</h2>

      <ul>
      <% tournament.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :tournament_name %>
  </div>

  <div class="field">
    <%= form.label :modality %>
    <%= form.text_field :modality, id: :tournament_modality %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :tournament_description %>
  </div>

  <div class="field">
    <%= form.label :picture %>
    <%= form.file_field :picture, id: :tournament_picture %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
