<p id="notice"><%= notice %></p>

<h1>Tournaments</h1>
<%= flash[:alert] %>

  <%= link_to 'New Tournament', new_tournament_path %>

  <%= form_tag tournaments_path,:method => 'get' do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search" %>
  <%end%>
<br>
<br>

<% @tournaments.each do |tournament| %>
    <div style="border: 1px solid black;">
      <h2><%= tournament.name %></h2>
      <%= tournament.description %>
      <br>
      <%= time_ago_in_words(tournament.created_at) %> ago by <%= tournament.user.email %>
      <br>


      <%= link_to 'Show', tournament %>

      <% if can? :update, tournament %>
        <%= link_to 'Edit', edit_tournament_path(tournament) %>
      <% end %>

      <% if can? :destroy, tournament %>
        <%= link_to 'Destroy', tournament, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>

      <br>
      </div>
<% end %>

<!--
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Modality</th>
      <th>Description</th>
      <th>Picture</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tournaments.each do |tournament| %>
      <tr>
        <h3><%= tournament.name %></h3>
        <%= time_ago_in_words(tournament.created_at) %> ago by <%= tournament.user.email %>
        <td><%= tournament.modality %></td>
        <td><%= tournament.description %></td>
        <td><%= tournament.picture %></td>
        <td><%= link_to 'Show', tournament %></td>
        <td><%= link_to 'Edit', edit_tournament_path(tournament) %></td>
        <td><%= link_to 'Destroy', tournament, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
-->
